.package-show {
  height: 100%;
}

.map {
  height: 100%;
  width: 50vw;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  border-radius: 10px;
}

@media(max-width: 1400px) {
  .map {
    width: 70vw;
    height: 80vh;
  }
}
