@import 'variables';

.header {
  width: 100vw;
  height: 100px;

  padding: 20px 30px;
  box-sizing: border-box;
  // background-color: rgba(0, 180, 93, 0.4);
  z-index: 5;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-family: $font-stack;
  color: white;

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    img {
      height: 50px;
      margin-right: 5px;
    }
  }

  .header-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;

    img {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin: 0 10px 0 20px;
    }
  }

  button.logo {
    font-family: $font-stack;
    font-size: 110%;
    color: white;
    background-color: rgba(0,0,0,0);
    border: 0;
  }

  button.logo:visited {
    color: white;
  }

  // button.logo:active {
  //   color: $button-press;
  // }

  .menu-btn, .user-btn, .sess-btn {
    display: flex;
    align-items: center;

    border: 0;
    background-color: rgba(0,0,0,0);
    color: white;
    text-decoration: none;
  }

  .sess-btn {
    height: 40px;
    font-size: 15px;
    width: 125px;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    font-family: sans-serif;
    background-color: transparent;
    // background-color: rgb(46, 119, 70);
    padding: 10px;
    color: $dark-gold;
    border-color: $dark-gold;
    border: 1px solid $dark-gold;
    border-radius: 5px;
    margin-left: 30px;
  }

  .user-btn {
    font-family: $text-font-stack;

    h3 {
      font-weight: 300;
      font-size: 15px;
      letter-spacing: 1px;
    }
  }

  .menu-btn {
    font-size: 15px;
    font-weight: 300;
    font-family: $text-font-stack;
    margin-left: 25px;
    letter-spacing: 1px;
    display: flex;
    text-align: center;
    justify-content: center;
    border: 1px solid transparent;
    padding-bottom: 5px;
    .fa {
      margin-right: 6px;
      // padding-bottom: 2px;
    }
  }

  .menu-btn:hover {
    border-bottom: 1px solid $light-gold;
  }

  button.sess-btn:hover {
    background-color: $dark-gold;
  }

  // button.sess-btn:active {
  //   background-color: rgb(46, 119, 70);
  // }

  button.menu-btn:hover, button.user-btn:hover, button.sess-btn:hover {
    color: white;
  }

  // button.menu-btn:active, button.user-btn:active, button.sess-btn:active {
  //   color: $button-press;
  // }
}

.menu-links {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  flex: 1;
  margin-left: 10px;
}
