@import "variables";

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

html {
  height: 100vh;
}

body {
  height: auto;
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1, h2, h3, input, select, button {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}

input:focus, select:focus, button:focus {
  outline: none;
}

a:visited {
  text-decoration: none;
}

select, button {
  cursor: pointer;
}

#root {
  background: rgb(19,32,66);
  background: -webkit-linear-gradient(to right, rgb(19,32,66) , #65A3C3);
  background: linear-gradient(to right, rgb(19,32,66) , #65A3C3);
  background-image: url('https://res.cloudinary.com/dxfu1kzhk/image/upload/v1486266364/splash_dutkf1.jpg');
  background-size: cover;

}

#root, .app-container, .home-container {
  width: 100vw;
  display: flex;
  flex: 1;
}

.home-container {
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  box-sizing: border-box;
  padding: 60px 40px;
  width: 100%;
  height: 100%;
}

@media (max-width: 1400px) {
  #root, .app-container, .home-container {
    height: auto;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;

  margin-top: 30px;

  .logo-img {
    margin-bottom: 30px;
    height: 250px;
  }

  .tagline {
    margin-bottom: 30px;
    font-family: $font-stack;
    color: white;
    font-size: 140%;
  }

  .input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 30px;
  }

  .tracking-number-container, .phone-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    font-family: $text-font-stack;
    margin-bottom: 30px;
  }

  @media (max-width: 1400px) {
    .tracking-number-container, .phone-number-container {
      width: 50vw;
    }
  }

  .tracking-number-container {
    flex-direction: row;

    .tracking-number-input {
      height: 50px;
      min-width: 315px;
      font-size: 90%;
      padding-left: 15px;
      font-family: $text-font-stack;
      border-radius: 5px 0 0 5px;
      border: 0;
      color: $slate-gray;
    }

    .tracking-number-input:focus {
      // background-color: rgb(191, 251, 255);
    }

    select {
      border: 0;
      height: 50px;
      min-width: 125px;
      font-size: 80%;
      font-family: $text-font-stack;
      border-radius: 0 5px 5px 0;
      padding: 0 10px;
      background-color: $light-gold;
      color: white;
    }
    select:hover {
      background-color: $dark-gold;
    }
  }

  .phone-number-container {
    flex-direction: column;

    .phone-number-input {
      height: 50px;
      width: 455px;
      font-size: 90%;
      padding-left: 15px;
      font-family: $text-font-stack;
      border-radius: 5px;
      border: 0;
      box-sizing: border-box;
      color: $slate-gray;
    }

    .phone-number-input:focus {
      // background-color: $text-input-field-color;
    }
  }

  .package-form-submit {
    height: 50px;
    width: 455px;

    font-size: 90%;
    font-weight: 400;
    font-family: sans-serif;;
    letter-spacing: 1px;
    color: white;
    background-color: $light-gold;
    border: 0;
    border-radius: 5px;
  }

  .package-form-submit:hover {
    background-color: $dark-gold;
  }

  .package-form-submit:disabled {
    background-color: transparent;
    border: 1px solid $light-gray;
  }

  .package-errors {
    width: 455px;
    height: 50px;
    margin: 0 30px 30px 30px;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 90%;
    color: $dark-error;
    font-weight: normal;
    border: 1px solid $dark-error;
    background-color: $light-error;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pin-errors {
    width: 90%;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 90%;
    color: $dark-error;
    font-weight: normal;
    border: 1px solid $dark-error;
    background-color: $light-error;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1400px) {
  .form-container {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.footer {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  padding: 30px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  i {
    margin-right: 10px;
  }

  a {
    margin-left: 20px;
    font-family: $font-stack;
    text-decoration: none;
    font-size: 130%;
    color: $light-gold;
  }

  a:visited {
    color: $light-gold;
  }

  a:hover {
    color: white;
  }
}
