@import "variables";

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

html {
  height: 100vh;
}

body {
  height: auto;
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1, h2, h3, input, select, button {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}

input:focus, select:focus, button:focus {
  outline: none;
}

a:visited {
  text-decoration: none;
}

select, button {
  cursor: pointer;
}

#root {
  background: rgb(19,32,66);
  background: -webkit-linear-gradient(to right, rgb(19,32,66) , #65A3C3);
  background: linear-gradient(to right, rgb(19,32,66) , #65A3C3);
  background-image: url('https://res.cloudinary.com/dxfu1kzhk/image/upload/v1486266364/splash_dutkf1.jpg');
  background-size: cover;

}

#root, .app-container, .home-container {
  width: 100vw;
  display: flex;
  flex: 1;
}

.home-container {
  flex-direction: column;
  align-items: flex-start;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  box-sizing: border-box;
  padding: 60px 40px;
  width: 100%;
  height: 100%;
}

@media (max-width: 1400px) {
  #root, .app-container, .home-container {
    height: auto;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 40px;
  z-index: 5;

  input:focus::-webkit-input-placeholder {
    // color: $input-focus-pl-color;
  }

  .logo-img {
    margin-bottom: 30px;
    height: 200px;
  }

  .tagline {
    margin-bottom: 30px;
    font-family: $font-stack;
    color: white;
    font-size: 140%;
  }

  @media(max-height: 800px) {
    .logo-img {
      width: 100px;
      height: 100px;
    }
  }

  .input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: rgba(41, 230, 255, 0.3);
    border-radius: 5px;
    padding: 50px;
  }

  .tracking-number-container, .phone-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    font-family: $text-font-stack;
    margin-bottom: 40px;
  }

  @media (max-width: 1400px) {
    .tracking-number-container, .phone-number-container {
      width: 50vw;
    }
  }

  .tracking-number-container {
    flex-direction: row;

    .tracking-number-input {
      height: 45px;
      width: 60%;
      font-size: 95%;
      padding-left: 10px;
      font-family: $text-font-stack;
      border-radius: 5px 0 0 5px;
      border: 0;
      color: $slate-gray;
    }

    .tracking-number-input:focus {
      // background-color: rgb(191, 251, 255);
    }

    select {
      border: 0;
      height: 45px;
      width: 18%;
      font-size: 80%;
      font-family: $text-font-stack;
      border-radius: 0 5px 5px 0;
      padding: 0 10px;
      background-color: $light-gold;
      color: white;
    }
    select:hover {
      background-color: $dark-gold;
    }
  }

  .phone-number-container {
    flex-direction: column;

    .phone-number-input {
      height: 45px;
      width: 80%;
      font-size: 95%;
      padding-left: 10px;
      font-family: $text-font-stack;
      border-radius: 5px;
      border: 0;
      box-sizing: border-box;
      color: $slate-gray;
    }

    .phone-number-input:focus {
      // background-color: $text-input-field-color;
    }
  }

  .package-form-submit {
    height: 45px;
    width: 80%;

    font-size: 95%;
    font-weight: 400;
    font-family: sans-serif;;
    letter-spacing: 1px;
    color: white;
    background-color: $light-gold;
    // background-color: rgb(39, 219, 138);
    border: 0;
    border-radius: 5px;
  }

  .package-form-submit:hover {
    background-color: $dark-gold;
  }

  // .package-form-submit:active {
  //   background-color: $button-press;
  // }

  .package-form-submit:disabled {
    background-color: transparent;
    border: 1px solid $light-gray;
  }

  .package-errors {
    width: 100%;
    margin-bottom: 40px;
    padding-left: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(255, 156, 156);
    font-family: $text-font-stack;
    font-weight: 400;
  }
}

@media (max-width: 1400px) {
  .form-container {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
