@import "variables";

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.not-found {
  width: 70%;
  height: 85%;
  padding: 50px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  h1 {
    font-family: 'Quicksand', cursive;
    font-size: 300%;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 10px;
  }

  h2 {
    font-family: 'Quicksand', cursive;
    font-size: 130%;
    font-weight: 400;
    letter-spacing: 1px;
    color: $dark-gold;
    margin-bottom: 30px;
  }

  .rdr-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 0;
    padding: 25px;
    background-color: $light-gold;
    border-radius: 5px;
  }

  .rdr-home:hover {
    background-color: $dark-gold;
  }

  button.rdr-home {
    h2 {
      font-family: 'Quicksand', cursive;
      margin-top: 25px;
      margin-bottom: 0;
      color: white;
    }

    font-size: 100%;
  }
}
