@import "variables";

.all-package-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.package-show {
  width: 100vw;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding: 30px;
}

.details {
  padding: 30px;
  box-sizing: border-box;
  overflow: scroll;
  height: 100%;

  background-color: white;
  color: black;
  border-radius: 10px;
  font-family: $text-font-stack;
  margin-right: 50px;
}

.tracking-list ul {
  padding: 0;
}

.tracking-list li {
  list-style-type: none;
  margin-bottom: 10px;
  border-top: 2px solid black;
  padding-top: 10px;
}

.status {
  color: green;
}

.carrier {
  color: $light-gold;
}

.gray-span {
  color: $slate-gray;
}

.map {
  height: 100%;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  border-radius: 10px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .map {
    width: 70vw;
  }
}

@media (min-width: 1400px) {
  .map {
    width: 50vw;
  }
}
