@import 'variables';
@import "font-awesome-sprockets";
@import "font-awesome";

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  position: relative;
  top: 10%;
  width: 40vw;
  height: 70vh;
  padding: 0;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #fefefe;
}

@media (max-width: 1400px) {
  .modal-content {
    width: 50vw;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;

  border-radius: 10px 10px 0 0;
  background-color: rgb(39, 219, 138);

  h3 {
    font-size: 150%;
    font-family: $text-font-stack;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
  }

  .close {
    color: white;
    float: right;
    font-size: 180%;
  }

  .close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

.pin-modal-instruct {
  background-color: rgb(40, 81, 92);
  font-family: $text-font-stack;
  padding: 20px;
  color: white;
}

.pin-modal-details {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 40px;
  font-family: $text-font-stack;
  background-image: url('web-modal-instructions-small.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 1150px) {
  .pin-modal-form {
    height: 25%;
  }
}

.pin-modal-form {
  width: 100%;
  height: auto;
  padding: 30px 15px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  background-color: rgb(57, 124, 142);
  border-radius: 0 0 5px 5px;

  .pin-input, .modal-submit {
    width: 90%;
    height: 50px;

    border: none;
    border-radius: 5px;
    padding: 10px 0;
  }

  .pin-input {
    padding-left: 20px;
    margin-bottom: 20px;

    font-size: 100%;
    box-sizing: border-box;
    font-family: $text-font-stack;
  }

  .pin-input:focus {
    background-color: $text-input-field-color;
  }

  .modal-submit {
    font-size: 150%;
    font-weight: 500;
    font-family: $text-font-stack;
    letter-spacing: 2px;
    color: white;

    background-color: rgb(39, 219, 138);
  }

  .modal-submit:hover {
    background-color: $button-hover;
  }

  .modal-submit:active {
    background-color: $button-press;
  }
}
