@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600');

$font-stack: 'Lobster', cursive;
$text-font-stack: 'Roboto', sans-serif;
$text-input-field-color: rgb(191, 251, 255);
$input-focus-pl-color: rgb(41, 240, 240);
$button-hover: rgb(255, 203, 46);
$button-press: rgb(255, 115, 0);
