@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600');

$font-stack: 'Quicksand', cursive;
$text-font-stack: 'Roboto', sans-serif;
$text-input-field-color: rgb(191, 251, 255);
$input-focus-pl-color: rgb(41, 240, 240);
$button-hover: rgb(255, 203, 46);
$button-press: rgb(255, 115, 0);

$light-gray: #d6d7d8;
$slate-gray: #6d6e70;
$light-gold: #c49f66;
$dark-gold: #b98d49;
$cloud: #98878f;
$stormy: #494e6b;
$sunset: #985e6d;

$light-error: #f2dede;
$dark-error: #a94442;
